{% load static %}
<section class="site-section" id="blog-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h2 class="section-title mb-3">Our Blog</h2>
      </div>
    </div>

    <div class="row">
      {% for post in blog_posts %}
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
        <div class="h-entry">
          <a href="{% url 'blog_post' post.slug %}">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
          </a>
          <h2 class="font-size-regular"><a href="{% url 'blog_post' post.slug %}">{{ post.title }}</a></h2>
          <div class="meta mb-4">{{ post.author }} <span class="mx-2">&bullet;</span> {{ post.published_date }}<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
          <p>{{ post.summary }}</p>
          <p><a href="{% url 'blog_post' post.slug %}">Continue Reading...</a></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
